html {
  font-family: "Noto Serif", serif;
}

header, footer {
  background-color: #70ad55;
}

.header-text, .footer-text {
  color: #fff;
}

.line {
  border-top: 1px solid;
  border-color: #6e8c62;
}

textarea {
  height: 10rem;
}

.btn {
  background-color: #6e8c62;
  color: #fff;
}
